<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="scripts/script.js"></script>


  <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light  orange-text">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="#">Pizza Dog</a>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a href="/basket" class="nav-link"><img src="img/basket.png" width="27px"> <span class="badge badge-secondary"
              style="background-color: orange;" id="basketNUM">0</span></a>
        </li>
      </ul>
    </div>
  </nav>
</head>

<body>
  <!-- bootstrap carousel -->
  <div id="carouselExampleIndicators" class="carousel slide top-content" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="img/testpizza.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="img/testpizza.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="img/testpizza.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container orange-button">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Pizza Dog <%=message%>
        </h1>
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quisquam, quidem.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Nos Entrées</h2>
      </div>
    </div>
    <div class="row">
      <% for(var i=0; i<starterName.length; i++) {%>
        <div class="col-md-4">
          <div class="card pizzaMargin">
            <img src="img/salade<%=i%>.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                <%=starterName[i].name%>
              </h5>
              <p class="card-text">
                <%=starterName[i].description%>
              </p>
              <p class="card-text">A partir de 5€</p>
              <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#starterBox<%=starterName[i].starter_id%>">
                Commannder
              </button>
            </div>
          </div>
        </div>
        <div class="modal fade" id="starterBox<%=starterName[i].starter_id%>" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                  <%=starterName[i].name%>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="img/salade1.jpg" alt="..." class="img-thumbnail">
              </div>
              <div class="modal-footer">
                <select class="custom-select" id="SausageS">
                  <option selected value="0">Sauce</option>
                  <option value="0">Avec</option>
                  <option value="1">Sans</option>
                </select>
                <select class="custom-select" id="StarterQTE<%=i%>" onclick="changePriceStarter('<%=i%>')">
                  <option selected value="1">Quantité</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal"
                  onclick="AddStarterBasket('<%=i%>', '<%=starterName[i].name%>')">ajouter au
                  panier</button>
                <p id="priceS<%=i%>"> 5€</p>
                <p id="priceSC<%=i%>" style="display:none;"> 5€</p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Nos Boissons</h2>
      </div>
    </div>
    <div class="row">
      <% for(var i=0; i<boissonName.length; i++) {%>
        <div class="col-md-4">
          <div class="card pizzaMargin">
            <img src="img/boisson.jpg"" class=" card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                <%=boissonName[i].name%>
              </h5>
              <p class="card-text">10$</p>
              <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#starterBox<%=boissonName[i].starter_id%>">
                Commannder
              </button>
            </div>
          </div>
        </div>
        <div class="modal fade" id="starterBox<%=boissonName[i].starter_id%>" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                  <%=boissonName[i].name%>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="img/boisson.jpg" alt="..." class="img-thumbnail">
              </div>
              <div class="modal-footer">
                <select class="custom-select" id="DrinkQTE<%=i%>" onclick="changeDrinks('<%=i%>')">
                  <option selected value="1">Quantité</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal"
                  onclick="AddDrinkBasket('<%=i%>', '<%=boissonName[i].name%>')">ajouter au
                  panier</button>
                <p id="priceD<%=i%>"> 1€</p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Nos Pizzas</h2>
      </div>
    </div>
    <div class="row">
      <% for(var i=0; i<pizzaName.length; i++) {%>
        <div class="col-md-4">
          <div class="card pizzaMargin">
            <img src="img/pizza1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                <%=pizzaName[i].name%>
              </h5>
              <p class="card-text">
                <%=pizzaName[i].description%>
              </p>
              <p class="card-text">A partir de 10€</p>
              <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#pizzaBox<%=pizzaName[i].pizza_id%>">
                Commannder
              </button>
            </div>
          </div>
        </div>
        <div class="modal fade" id="pizzaBox<%=pizzaName[i].pizza_id%>" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                  <%=pizzaName[i].name%>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="img/pizza1.png" alt="..." class="img-thumbnail">
              </div>
              <div class="modal-footer">
                <select class="custom-select" id="taille<%=i%>" onclick="changePrice('<%=i%>')">
                  <option selected value="1">Taille</option>
                  <option value="1">M</option>
                  <option value="1.4">L</option>
                  <option value="1.7">XL</option>
                </select>
                <select class="custom-select" id="nombre<%=i%>" onclick="changePrice('<%=i%>')">
                  <option selected value="1">Quantité</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal"
                  id="<%=pizzaName[i].name%>" onclick="AddBasket('<%=i%>','<%=pizzaName[i].name%>','3')"> ajouter au
                  panier</button>
                <p id="priceP<%=i%>"> 10€</p>
                <p id="priceC<%=i%>" style="display:none;"> 10€</p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Nos Menu</h2>
      </div>
    </div>
    <div class="row">
      <% for(var i=0; i<menuName.length; i++) {%>
        <div class="col-md-4">
          <div class="card pizzaMargin">
            <img src="img/menu.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                <%=menuName[i].nom%>
              </h5>
              <p class="card-text">
                <%=menuName[i].description%>
              </p>
              <p class="card-text">A partir de 10€</p>
              <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#menuName<%=menuName[i].menu_id%>">
                Commannder
              </button>
            </div>
          </div>
        </div>
        <div class="modal fade" id="menuName<%=menuName[i].menu_id%>" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                  <%=menuName[i].nom%>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="img/pizza1.png" alt="..." class="img-thumbnail">
              </div>
              <div class="modal-footer">
                <select class="custom-select" id="MenuQTE<%=i%>" onclick="changePriceMenu('<%=i%>')">
                  <option selected value="1">Quantité</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal" id="MenuQTE<%=[i]%>"
                  onclick="AddBasketMenu('<%=i%>','<%=menuName[i].name%>')"> ajouter au
                  panier</button>
                <p id="priceM<%=i%>"> 15€</p>
                <p id="priceC<%=i%>" style="display:none;"> 15€</p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Menu/Pizza personnalisée</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card pizzaMargin">
          <img src="img/pizzaPerso.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Menu perso</h5>
            <p class="card-text">Creez votre pizza</p>
            <p class="card-text">20-30$</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pizzaBoxM">
              Commannder
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card pizzaMargin">
          <img src="img/pizzaPerso.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pizza perso</h5>
            <p class="card-text">Creez votre pizza</p>
            <p class="card-text">10-20$</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pizzaBoxP">
              Commannder
            </button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="pizzaBoxP" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Pizza Perso</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body sliderPizza">
              <img src="img/pizzaPerso.png" alt="..." class="img-thumbnail">
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Taille</option>
                <option value="1">M</option>
                <option value="2">L</option>
                <option value="3">XL</option>
              </select>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Toping 1</option>
                <% for(var i=0; i<toppingPizz.length; i++) {%>
                  <option value="<%=toppingPizz[i].topping_id%>">
                    <%=toppingPizz[i].name%>
                  </option>
                  <% } %>
              </select>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Toping 2</option>
                <% for(var i=0; i<toppingPizz.length; i++) {%>
                  <option value="<%=toppingPizz[i].topping_id%>">
                    <%=toppingPizz[i].name%>
                  </option>
                  <% } %>
              </select>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Toping 3</option>
                <% for(var i=0; i<toppingPizz.length; i++) {%>
                  <option value="<%=toppingPizz[i].topping_id%>">
                    <%=toppingPizz[i].name%>
                  </option>
                  <% } %>
              </select>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Toping 4</option>
                <% for(var i=0; i<toppingPizz.length; i++) {%>
                  <option value="<%=toppingPizz[i].topping_id%>">
                    <%=toppingPizz[i].name%>
                  </option>
                  <% } %>
              </select>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Toping 5</option>
                <% for(var i=0; i<toppingPizz.length; i++) {%>
                  <option value="<%=toppingPizz[i].topping_id%>">
                    <%=toppingPizz[i].name%>
                  </option>
                  <% } %>
              </select>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Toping 6</option>
                <% for(var i=0; i<toppingPizz.length; i++) {%>
                  <option value="<%=toppingPizz[i].topping_id%>">
                    <%=toppingPizz[i].name%>
                  </option>
                  <% } %>
              </select>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Quantité</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">ajouter au panier</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      let basketNUM = document.querySelector('#basketNUM');
      console.log(getCookie("qtebasket"));
      if (parseInt(getCookie("qtebasket")) > 0) {
        basketNUM.innerHTML = getCookie("qtebasket");
      }
      let amount;

      function changePrice(i) {
        var PizzaSize = document.getElementById("taille" + i);
        var valueSize = PizzaSize.options[PizzaSize.selectedIndex].value;

        var PizzaQte = document.getElementById("nombre" + i);
        var valueAmount = PizzaQte.options[PizzaQte.selectedIndex].value;

        let PizzaPrice = document.querySelector('#priceP' + i);
        let ValPrice = PizzaPrice.innerHTML;
        let total = 10 * valueAmount * valueSize;

        PizzaPrice.innerHTML = total.toString() + "€";
      }

      function changePriceStarter(i) {
        var StarterSize = document.getElementById("StarterQTE" + i);
        var valueSize = StarterSize.options[StarterSize.selectedIndex].value;

        let StarterPrice = document.querySelector('#priceS' + i);
        let ValPrice = StarterPrice.innerHTML;

        let total = 5 * valueSize;

        StarterPrice.innerHTML = total.toString() + "€";
      }

      function changeDrinks(i) {
        var DrinkSize = document.getElementById("DrinkQTE" + i);
        var valueSize = DrinkSize.options[DrinkSize.selectedIndex].value;

        let DrinkPrice = document.querySelector('#priceD' + i);
        let ValPrice = DrinkPrice.innerHTML;

        let total = 1 * valueSize;

        DrinkPrice.innerHTML = total.toString() + "€";
      }

      function changePriceMenu(i) {
        var MenuSize = document.getElementById("MenuQTE" + i);
        var valueSize = MenuSize.options[MenuSize.selectedIndex].value;

        let MenuPrice = document.querySelector('#priceM' + i);
        let ValPrice = MenuPrice.innerHTML;

        let total = 15 * valueSize;

        MenuPrice.innerHTML = total.toString() + "€";
      }

      function AddDrinkBasket(i, nameDrink) {
        var DrinkSize = document.getElementById("DrinkQTE" + i);
        var valueSize = DrinkSize.options[DrinkSize.selectedIndex].value;

        let DrinkPrice = document.querySelector('#priceD' + i);
        let ValPrice = DrinkPrice.innerHTML;

        let total = 1 * valueSize;
        basketNUM.innerHTML = getCookie("qtebasket");
        if (parseInt(getCookie("qtebasket")) > 0) {
          basketNUM.innerHTML = parseInt(getCookie("qtebasket")) + parseInt(total);
          var totalval = parseInt(getCookie("qtebasket")) + parseInt(total);
          document.cookie = "qtebasket=" + totalval + ";secure";

        } else {
          basketNUM.innerHTML = parseInt(total);
          document.cookie = "qtebasket=" + parseInt(valueSize) + ";secure";
        }
        let cookie = getCookie("basket");
        let amount = 0;
        if (cookie != null) {
          amount = (cookie.split("/")).length;
        }
        if (cookie == null) {
          cookie = "";
        }
        let AddCookie = cookie;
        let separate = "/";
        let ArticleNum;
        if (amount == 0) {
          ArticleNum = amount + 1;
        }
        else {
          ArticleNum = amount;
        }
        let ArticleType = nameDrink;
        let IdOfProduct = i;
        let arID = 1;
        let qteOrdered = parseInt(total);
        let tab;
        let size = "33c";
        if (cookie = "") {
          tab = [ArticleNum, ArticleType, arID, IdOfProduct, qteOrdered, parseInt(total), valueSize, separate];
        }
        else {
          tab = [AddCookie, ArticleNum, ArticleType, arID, IdOfProduct, qteOrdered, parseInt(total), valueSize, separate];
        }
        document.cookie = "basket=" + tab + ";secure";
      }

      function AddBasketMenu(i, nameMenu) {
        var MenuSize = document.getElementById("MenuQTE" + i);
        var valueSize = MenuSize.options[MenuSize.selectedIndex].value;

        let MenuPrice = document.querySelector('#priceM' + i);
        let ValPrice = MenuPrice.innerHTML;

        let total = 15 * valueSize;
        basketNUM.innerHTML = getCookie("qtebasket");
        if (parseInt(getCookie("qtebasket")) > 0) {
          basketNUM.innerHTML = parseInt(getCookie("qtebasket")) + parseInt(valueSize);
          var totalval = parseInt(getCookie("qtebasket")) + parseInt(valueSize);
          document.cookie = "qtebasket=" + totalval + ";secure";

        } else {
          basketNUM.innerHTML = parseInt(valueSize);
          document.cookie = "qtebasket=" + parseInt(valueSize) + ";secure";
        }
        let cookie = getCookie("basket");
        let amount = 0;
        if (cookie != null) {
          amount = (cookie.split("/")).length;
        }
        if (cookie == null) {
          cookie = "";
        }
        let AddCookie = cookie;
        let separate = "/";
        let ArticleNum;
        if (amount == 0) {
          ArticleNum = amount + 1;
        }
        else {
          ArticleNum = amount;
        }
        let ArticleType = nameMenu;
        let IdOfProduct = i;
        let arID = 5;
        let qteOrdered = valueSize;
        let tab;
        let size = -1;
        if (cookie = "") {
          tab = [ArticleNum, ArticleType, arID, IdOfProduct, qteOrdered, parseInt(total), valueSize, separate];
        }
        else {
          tab = [AddCookie, ArticleNum, ArticleType, arID, IdOfProduct, qteOrdered, parseInt(total), valueSize, separate];
        }
        document.cookie = "basket=" + tab + ";secure";
      }

      function AddStarterBasket(i, nameStarter) {
        var StarterSize = document.getElementById("StarterQTE" + i);
        var valueSize = StarterSize.options[StarterSize.selectedIndex].value;

        let StarterPrice = document.querySelector('#priceS' + i);
        let ValPrice = StarterPrice.innerHTML;

        let total = 5 * valueSize;
        basketNUM.innerHTML = getCookie("qtebasket");
        if (parseInt(getCookie("qtebasket")) > 0) {
          basketNUM.innerHTML = parseInt(getCookie("qtebasket")) + parseInt(valueSize);
          var totalval = parseInt(getCookie("qtebasket")) + parseInt(valueSize);
          document.cookie = "qtebasket=" + parseInt(totalval) + ";secure";

        } else {
          basketNUM.innerHTML = valueSize;
          document.cookie = "qtebasket=" + parseInt(valueSize) + ";secure";
        }
        let cookie = getCookie("basket");
        let amount = 0;
        if (cookie != null) {
          amount = (cookie.split("/")).length;
        }
        if (cookie == null) {
          cookie = "";
        }
        let AddCookie = cookie;
        let separate = "/";
        let ArticleNum;
        if (amount == 0) {
          ArticleNum = amount + 1;
        }
        else {
          ArticleNum = amount;
        }
        let ArticleType = nameStarter;
        let IdOfProduct = i;
        let arID = 2;
        let qteOrdered = parseInt(valueSize);
        let tab;
        let size = -1;
        if (cookie = "") {
          tab = [ArticleNum, ArticleType, arID, IdOfProduct, qteOrdered, parseInt(total), '', separate];
        }
        else {
          tab = [AddCookie, ArticleNum, ArticleType, arID, IdOfProduct, qteOrdered, parseInt(total), '', separate];
        }
        document.cookie = "basket=" + tab + ";secure";

      }

      function AddBasket(i, artype, dadadad) {
        let size = document.querySelector('#taille' + i);
        let valueSize = size.options[size.selectedIndex].value;
        if (valueSize == 1) {
          valueSize = "M";
        }
        else if (valueSize == 1.4) {
          valueSize = "L";
        }
        else if (valueSize == 1.7) {
          valueSize = "XL";
        }
        let cookie = getCookie("basket");
        let amount = 0;
        if (cookie != null) {
          amount = (cookie.split("/")).length;
        }
        let basketNUM = document.querySelector('#basketNUM');
        var AmountinBasket = document.getElementById("nombre" + i).value;
        var newN = parseInt(basketNUM.innerHTML) + parseInt(AmountinBasket);
        document.cookie = "qtebasket=" + newN + ";secure";
        basketNUM.innerHTML = newN;
        let PizzaPrice = document.querySelector('#priceP' + i);
        let ValPrice = PizzaPrice.innerHTML;
        let ValPrice2 = ValPrice.split("€");
        if (cookie == null) {
          cookie = "";
        }
        let AddCookie = cookie;
        let separate = "/";
        let ArticleNum;
        if (amount == 0) {
          ArticleNum = amount + 1;
        }
        else {
          ArticleNum = amount;
        }
        let ArticleType = artype;
        let IdOfProduct = i;
        let arID = dadadad;
        let qteOrdered = AmountinBasket;
        let tab;
        if (cookie = "") {
          tab = [ArticleNum, ArticleType, arID, IdOfProduct, qteOrdered, ValPrice2[0], valueSize, separate];
        }
        else {
          tab = [AddCookie, ArticleNum, ArticleType, arID, IdOfProduct, qteOrdered, ValPrice2[0], valueSize, separate];
        }
        document.cookie = "basket=" + tab + ";secure";
        cookie = getCookie("basket");
      }
    </script>

</body>