<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light  orange-text">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">Pizza Dog</a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a href="/basket" class="nav-link"><img src="img/basket.png" width="27px"> <span
                            class="badge badge-secondary" style="background-color: orange;">0</span></a>
                </li>
            </ul>
        </div>
    </nav>
</head>

<body>
    <!--table that displays all piuzza commands-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Livreur</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Commande</th>
                            <th>Client</th>
                            <th>Adresse</th>
                            <th>Prix</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<commande.length; i++) {%>
                            <tr>
                                <td>
                                    <%=commande[i].commande_id%>
                                </td>
                                <td>
                                    <%=commande[i].name_client%>
                                </td>
                                <td>
                                    <%=commande[i].adresse%>
                                </td>
                                <td>
                                    <%=commande[i].commande_id%>
                                </td>
                                <td>
                                    <% if(commande[i].status==0) {%>
                                        pas livrée
                                        <% }else if(commande[i].status==1){%>
                                            en cours
                                            <% }else{%>
                                                livré
                                                <% } %>
                                </td>
                                <td>
                                    <% if(commande[i].status==0) {%>
                                        <a href="<%= '/livreur/' + commande[i].commande_id %>"
                                            class="btn btn-success">Prendre la commande</a>
                                        <% }else if(commande[i].status==1){%>
                                            <a href="<%= '/livre/' + commande[i].commande_id %>"
                                                class="btn btn-success">Mettre la commande comme livré</a>
                                            <% }else{%>
                                                Commande deja livrée
                                                <% } %>
                                </td>

                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>